.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 660px;
    filter: brightness(70%); 
  }

h1 {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
  text-align: center;
}